.City {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.62em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color: black;
  text-align:center;
  transition: all 0.2s;
  font-size: 1em;
  font-weight: bold;
}

.City:hover{
  color:white;
  background-color: black;
  font-weight: bold;
}

@media all and (max-width:30em){
  City{
  display:block;
  margin:0.4em auto;
  }
}